/* dock - top */
.dock {
	position: relative; 
	height: 50px; 

}
.dock-container {
	position: absolute;
	height: 150px;
	padding-left: 30px;
	z-index:2;

}
a.dock-item {
	display: block;
	width: 50px;
	color: #000;
	position: absolute;
	top: 0px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
}
.dock-item img {
	border: none; 
	margin: 20px 0px 0px; 
	width: 150%; 
}
.dock-item span {
	display: none; 
	padding-left: 20px;
}

